In [3]:
# extra manipulation for cs 230 project

In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('/Users/scovitz/datadir/participant_info.csv')
df

,ID,day,type,weight,height,age,sex,tft_10mwrt,tft_10mwt,tft_tug,tft_5xsts,brooke_score
0,P001,0,TYP,95.3,1.83,27.0,M,3.06,8.63,4.63,11.03,6.0
1,P002,0,TYP,62.1,1.63,51.0,W,3.63,6.81,6.91,12.12,6.0
2,P003,0,TYP,56.7,1.73,48.0,W,3.47,7.59,5.75,8.81,6.0
3,P004,0,FSHD,72.6,1.78,51.0,M,5.66,7.28,5.81,8.54,4.0
4,P005,0,TYP,80.7,1.73,32.0,M,2.87,7.59,5.53,5.84,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
157,P125,455,FSHD,69.4,1.78,39.0,M,3.28,8.28,6.19,5.50,4.0
158,P126,455,TYP,35.8,1.47,11.0,M,2.90,7.78,4.90,5.78,6.0
159,P127,455,TYP,63.5,1.70,37.0,M,3.00,8.41,6.87,7.43,6.0
160,P128,455,DM,93.0,1.57,45.0,W,4.44,7.16,9.53,16.81,5.0
161,P129,455,TYP,65.0,1.68,35.0,W,3.16,6.62,4.91,7.28,6.0

In [9]:
df['Class'] = np.where(df['type'] == 'TYP', 0, np.where(df['type'] == 1, 1, None))
df

,ID,day,type,weight,height,age,sex,tft_10mwrt,tft_10mwt,tft_tug,tft_5xsts,brooke_score,Class
0,P001,0,TYP,95.3,1.83,27.0,M,3.06,8.63,4.63,11.03,6.0,0
1,P002,0,TYP,62.1,1.63,51.0,W,3.63,6.81,6.91,12.12,6.0,0
2,P003,0,TYP,56.7,1.73,48.0,W,3.47,7.59,5.75,8.81,6.0,0
3,P004,0,FSHD,72.6,1.78,51.0,M,5.66,7.28,5.81,8.54,4.0,None
4,P005,0,TYP,80.7,1.73,32.0,M,2.87,7.59,5.53,5.84,6.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,P125,455,FSHD,69.4,1.78,39.0,M,3.28,8.28,6.19,5.50,4.0,None
158,P126,455,TYP,35.8,1.47,11.0,M,2.90,7.78,4.90,5.78,6.0,0
159,P127,455,TYP,63.5,1.70,37.0,M,3.00,8.41,6.87,7.43,6.0,0
160,P128,455,DM,93.0,1.57,45.0,W,4.44,7.16,9.53,16.81,5.0,None
161,P129,455,TYP,65.0,1.68,35.0,W,3.16,6.62,4.91,7.28,6.0,0